<mat-toolbar fxLayout="row" color="primary">
    <div fxFlex="100" fxLayout="row"  fxLayoutAlign="space-between center">
        <fa-icon class="logo-icon" [icon]=icons.faNoteSticky></fa-icon>
        <div class="logo" fxHide.lt-md >StickyNotes</div>
        <div class="navButtons" fxFlex="30">
        </div>
        <div fxFlex class="displayName" fxLayoutAlign="end center">
            <span>Hello {{user.displayName}}!</span>
            <button mat-mini-fab [matMenuTriggerFor]="profileMenu" color="accent" class="mat-elevation-z7 userBtn" *ngIf="user">
                <span *ngIf="!user.photoURL" color="accent" matTooltip={{user.displayName}} >{{initials}}</span>
                <img height="100%" width="100%" *ngIf="user.photoURL" src={{user.photoURL}} alt="">
            </button>
            <mat-menu #profileMenu>
                <button mat-menu-item (click)="openPropic()">User Image</button>
                <button mat-menu-item>Change Username </button>
                <button mat-menu-item color="warn">Delete Account</button>
                <button mat-menu-item color="primary" (click)="logout()" *ngIf="user">Logout</button>
            </mat-menu>
        </div>
        <div class="login">
            <button mat-flat-button color="accent" (click)="openLoginForm()" *ngIf="!user">Login</button>
        </div>

    </div>
</mat-toolbar>
<router-outlet></router-outlet>